.screenshot {
  border: solid 1px #999999;
  border-radius: 5px 5px;
  margin: 5px 0;
  padding: 5px;
  background: #ffffff;
  width: 49%;
  height: 49%;
  max-width: 98%;
  max-height: 98%;
  cursor: pointer;
}

